@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Homepage Navbar */

:root {
    --clr:linear-gradient(190deg, rgb(198, 83, 255), rgb(126, 126, 253)); 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
    gap: 30px;
    background-image: url(./images/spectrum-gradient.png);
    background-size: fit-content;
}

.navigation {
    min-width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    bottom: -1;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #29bdfd;
    border-radius: 50%;
    border: 6px solid transparent;
    transition: 0.5s;
}

#border-gradient-rounded {
    border: 4px solid transparent;
    border-radius: 50%;
    background: 
      linear-gradient(to right, white, #e1f2ff), 
      linear-gradient(190deg, rgb(198, 83, 255), rgb(126, 126, 253)); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -21px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -21px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0))
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1))
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2))
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3))
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4))
}


.shopTitle {
    width: 95%;
    height: 5.5%;
    background-color: #424650;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.shopTitle h1{
    color: white;
}

.sale{
    width: 95%;
    height: 20%;
    background-color: #424650;
    position: absolute;
    top: 17%;
}

.shop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 55%;
    width: 100%;
    height: 100%;
}

.shop #box {
    width: 110px;
    height: 120px;
    background-color: #424650;
    margin: 10px;
}

.coins{
    width: 25%;
    height: 5%;
    background-color: #424650;
    position: absolute;
    right: 3%;
    top: 8%;
}